
<div class="comment_new">

<%= form_for [@picture, @comment] do |f| %>

<div>
   <%= f.label :評価 %>
   <%= f.select :rank, options_for_select(["1", "2", "3","4", "5", "6","7", "8", "9","10"])%>
</div>

<div style="margin: 8px 0">
   <%= f.text_area :comment, placeholder: 'コメント' %>
</div>


<div>
   <%= button_tag type: "submit" do %>
   投稿する<% end %>
</div>

<% end %>

</div>