<div>
      <p><%= @user.name %>さんの投稿一覧</p>
      <p>平均評価:<%= @total_ave_ranks %></p>
      <div class="show container">
          <% @pictures.each do |picture| %>
          <div class="row">
              <div class="show-left col-sm-6">
                  <div class="show-picture">
                  <%= link_to image_tag(picture.picture, :class => "show_picture_size"), picture_path(picture.id) %>
                  </div>
              </div>


                <div class="show-right col-sm-6">
                      <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      選択
                      <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <% if user_signed_in? %>
                      <li><%= link_to "この作品を投稿する",new_picture_comment_path(picture.id)  %></li>
                      <% end %>
                      <% if user_signed_in? && current_user.id == picture.user_id %>
                      <li>
                      <%= link_to '編集', "/pictures/#{picture.id}/edit", method: :get %>
                      </li>
                      <li>
                      <%= link_to '削除', "/pictures/#{picture.id}", method: :delete %>
                      </li>
                      <% else %>
                      <li><%= link_to "ログイン",new_user_session_path %>
                      </li>
                      <% end %>
                      </div>

                <h2>-----データ-----</h2>
                      <ul class="list-group textwhite">
                      <li class="list-group-item">平均評価:<%= picture.ave_rank %></li>
                      <li class="list-group-item">場所:<%= picture.location %></li>
                      <li class="list-group-item">季節:<%= picture.season %></li>
                      <li class="list-group-item"><%= picture.month %>月</li>
                      <li class="list-group-item">時間帯:<%= picture.time %></li>
                      <li class="list-group-item">テーマ:<%= picture.theme %></li>
                      <li class="list-group-item">コメント:<%= picture.comment %></li>
                      </ul>

          </div>
      </div>
    <% end %>
    <%= paginate(@pictures) %>
   </div>
</div>
