
<div class="index container">
 新着画像
   <div class="row">
     <div class="index-left col-sm-9 col-xs-12">
        <% @pictures.each do |pic|%>
        <div class="index-left">
           <div class="index-left-picture col-sm-4 col-xs-6 ">
              <a href="/pictures/<%= pic.id %>">
              <%= image_tag pic.picture, class: "image-width list-mv02" %></a>
           </div>
        </div>
        <% end %>
        <%= paginate(@pictures) %>
     </div>

     <div class="index-right col-sm-3 col-xs-0">
     -----ランキング-----
     <% @ranking.each.with_index(1) do |rank_picture, i| %>
       <ul style="list-style:none;">
          <a href="/pictures/<%= rank_picture.id %>"><%= i %></li>
          <li><%= image_tag rank_picture.picture, class: "ranking_picture" %></li></a>
       </ul>
     <% end %>
     </div>
   </div>
</div>

