
<div class="index container">
 新着画像
   <div class="row">
     <div class="index-left col-sm-9">


        <div class="index-left">
        <div class="row">
        <% @pictures.each do |pic|%>
           <div class="index-left-picture col-sm-4 col-xs-6">
              <a class="picture" href="/pictures/<%= pic.id %>">
              <%= image_tag pic.picture, class: "image-width" %></a>
           </div>
        <% end %>
        </div>
        </div>
        <div>
        <%= paginate(@pictures) %>
        </div>
     </div>



     <div class="index-right col-sm-3">
     -----ランキング-----
     <% @ranking.each.with_index(1) do |rank_picture, i| %>
       <ul style="list-style:none;">
          <a href="/pictures/<%= rank_picture.id %>"><%= i %></li>
          <li><%= image_tag rank_picture.picture, class: "ranking_picture" %></li></a>
       </ul>
     <% end %>
     </div>
   </div>
</div>

